@font-face {
    font-family: 'blanka';
    src: url('../../assets/blanka_webfont/blanka-regular-webfont.ttf') format('truetype'),
         url('../../assets/blanka_webfont/blanka-regular-webfont.woff') format('woff'),
         url('../../assets//blanka_webfont/blanka-regular-webfont.woff2') format('woff2');
         font-weight: normal;
         font-style: normal;
}

#Projects {
    width: 100vw;
    height: 100vh;
    background-color:#243447;
    z-index: 9999;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
    align-content: stretch;
    scroll-snap-align: center;
}

#Projects > h1 {
    margin-top: 10px;
    font-family: 'blanka';
    font-size: 26px;
    color: #243447;
    text-align: Center;
    border-bottom: 2px solid #243447;
    width: 50%;
}

.project {
    color: white;
    /* list-style-type: disc; */
}