
#Projects {
  width: 100vw;
  height: 100vh;
  background-color: #243447;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  scroll-snap-align: center;
  border: 5px solid green;
}

.project {
  color: white;
  border: 1px solid red;
  font-family: "Roboto slab", sans-serif;
  margin: 10px;
  padding: 35px;
  border-width: 15px;
  height: 800px;
  width: 700px;

  .projectImages {
    border: 5px solid green;
    width: 100%;
    height: 100%;
  }

  ul {
    margin-top: 20px;
  }
}
